<!DOCTYPE html>
<title>Stony Trumps Hate: Fanworks Auction 2017</title>
<header>
    <h1>{{pa}}</h1>

</header>
<form id="form" method="post" action="https://script.google.com/macros/s/AKfycbwHhS6P_zvgxAy9maeAmzs6XXLlx2HJ8nDtN_p2cmc/dev?sheet=a_sparrows_fall001">
    <p>
        <label>Name</label>
        <input id="name" name="name" type="text">
    </p>
    <p>
        <label>Phone Number</label>
        <input id="phone" name="phone" type="tel">
    </p>
    <p>
        <label>Message</label>
        <textarea id="message" name="message" rows="5" cols="50"></textarea>
    </p>
    <div>
        <button type="submit">Send</button>
    </div>
</form>

<hr><form id="foo" method="post" action="https://script.google.com/macros/s/AKfycbwyTOafXNd8L_4rCS-kjyGm7UrYtA63m5cy7eIKS8HUR_nJK9k/exec?sheet={{}}--001">
    <h1 class="currentbid">Current Bid: <span>(loading…)</span></h1>
        <p>
            <label>Name or tumblr username</label>
            <input id="name" name="name" type="text" required="required"></p>
        <p>
            <label>Are you 18 years of age or older?</label>
            <input id="ageconfirm" name="ageconfirm" type="checkbox"></p>
            <p>
            <label>Your email address (must be a valid email)</label>
            <input id="email" name="email" type="text" required="required"></p>
        <p>
            <label>Your bid (next available bid prefilled)</label>
            <input id="bid" name="bid" type="number" required="required"></p>
            <p>
            <label>Notify me when I am outbid:</label>
            <input checked id="notify" name="notify" type="checkbox"></p>
        <div>
            <button type="submit">SUBMIT MY (fake) BID</button>
        </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script><script>
    var avenger = 'a_sparrows_fall';
var lot = '001';

$.ajax({
    url: "https://script.google.com/macros/s/AKfycbwyTOafXNd8L_4rCS-kjyGm7UrYtA63m5cy7eIKS8HUR_nJK9k/exec?sheet=" + avenger + "--" + lot,
    dataType: "jsonp",
    jsonpCallback: "assemble"
}).then(function(response) {
    $('.currentbid span').text(response.latestBid);
    $('#bid').val(parseInt(response.latestBid) + 5);
    $('#bid').attr('min',parseInt(response.latestBid) + 5);
});
    </script></p>