<section id="auction-ended" class="hidden">
<% if (!!post && !!post.creatorName) {%>
    <h1 class="announce"><%- post.creatorName %>'s <%- post.workType.slug %> Auction</h1>
<% }%>
	<h2 class="announce">The auction has ended.</h2>
	<h1 style="text-align:center; font-size:2em">Thank you for your bids!</h1>
	<h3 class="announce">We'll be contacting the winners shortly! For more information on what happens next, check out our <a href="https://stonytrumpshate.tumblr.com/">tumblr</a>!</h3>
</section>