<section id="coming-soon" class="hidden">
<% if (!!post && !!post.creatorName) {%>
    <h1 class="announce"><%- post.creatorName %>'s <%- post.workType.slug %> Auction</h1>
<% }%>
	<h1 style="text-align:center; font-size:2em">This is where it all happens!</h1>
	<h3 class="announce">The auction listings for Stony Trumps Hate will be here soon!</h3>
	<h3 class="announce">You'll be able to sort and filter the auctions to find your favorites, so bookmark this page and come back after the auction starts on <br />May 21st at 00:00 EST! (<a target="_blank" href="https://www.timeanddate.com/worldclock/fixedtime.html?p1=179&iso=20170521T00&msg=Stony%20Trumps%20Hate%20-%20Auction%20Start&sort=0">What time is that for me?</a>)</h3>
</section>