<% if ((Date.now() < (new Date(2017, 4, 20, 23, 58))) && (!config.title.includes("DEV"))) {%>
<h2 style="text-align: center"><%= config.title %> will begin shortly!</h2>
<h3 style="text-align: center" id="countdown"></h3>
<script>
var countDownDate = new Date("May 20, 2017 23:59:59").getTime();
var x = setInterval(function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  document.getElementById("countdown").innerHTML = days + " days " + hours + " hours "
  + minutes + " minutes " + seconds + " seconds ";
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown").innerHTML = "It's here!";
  }
}, 1000);
</script>
<% } %>