<nav id="topbar">
    <a href="<%- url_for() %>" id="logo">
    <div id="sticky"><img src="https://68.media.tumblr.com/avatar_003d32db4223_64.png">
        <h1><%= config.title %></h1>
        <h2>stonytrumpshate.tumblr.com</h2></div>
    <!-- STICKY -->
    </a>
</nav>