<aside id="sidebar"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>
  <div class="panel panel-wrap">
    <h1>HOW IT WORKS</h1> (1) Bid on creators.
    <br> (2) Find out if you won your bid.
    <br> (3) Donate.
    <br> (4) Receive your fanwork!
</div>
<div class="panel panel-wrap">
    <h1>LINKS</h1><a href="https://stonytrumpshate.tumblr.com/participating">How to Participate</a><a href="https://stonytrumpshate.tumblr.com/creators">List of Creators</a><a href="https://stonytrumpshate.tumblr.com/organizations">List of Organizations</a><a href="/fundraisers">Other Fundraisers</a></div>
<div class="panel panel-wrap">
    <h1>SCHEDULE</h1><b>APR 30</b> Creator sign-ups open.
    <br><b>MAY 13</b> Creator sign-ups close.
    <br><b>MAY 21</b> Start of bids.
    <br><b>MAY 27</b> Bids close and auction winners are contacted.
    <br><b>JUN 07</b> Deadline for donation receipts.
</div>

</aside>

