.all-auctions, .filters
  clear:both
  padding: 0 20px
  clearfix()
  @media mq-tablet
    padding: 0
    margin: 0 -20px 10px
    
.ui-group-sort
  min-height: 100px
    
.ui-group
  margin-bottom: 1em
  .form-control
    padding: 1em
  h4
    margin: .25em
    color: darken(color-art, 30%)
    border-bottom: 1px solid transparentify(color-art, 20%)
    padding: 0 0 .35em
  @media mq-desktop 
    width: 45%;
    float: left
    &:nth-child(2n+3)
      clear: both
    &:nth-child(2n)
      margin-left: 5%
    &:last-child
      width: 100%

.all-auctions
  font-size: 1.13em
  // @media mq-mobile
  //   margin-top: 30px
  
.filters
  input[type=text], input[type=email],  input[type=number]
    border: 1px solid #999
    display:block
    padding: .25em
    font-size: 1.5em

.auction
  width: 90%
  box-shadow: 0 0 6px 0 rgba(0,0,0,.1);
  @media mq-tablet
    margin: 0 10px 20px
    width: 240px
  @media mq-desktop
    width: 340px
  @media mq-large
    width: 420px
    margin: 0 20px 30px

  overflow: hidden
  border-top: 40px solid black
  h3, h4, h5, h6
    margin: 0
  .auctionTitle
    color: #111
    margin-bottom: .5em
    font-weight: bold
    font-size: 2em;
  .auctionType
    text-transform: uppercase
    font-size: .9em
  .auctionDesc
    min-height: 6em
    font-weight: normal
    
  &.art
    border-top-color: color-art
    h4
      color:color-art
  &.graphic
    border-top-color: color-graphic
    h4
      color:color-graphic
  &.fic
    border-top-color: color-fic
    h4
      color:color-fic
  &.podfic
    border-top-color: color-podfic
    h4
      color:color-podfic
   &.video
    border-top-color: color-video
    h4
      color:color-video
  &.fanwork
    border-top-color: color-fanwork
    h4
      color:color-fanwork

.button-container
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  margin: 0 -.5em;
  .button
    order: 0;
    flex: 1 1 70px;
    margin: .5em;
    padding: .75em .2em

.universes, .ratings
  font-size: 1em
  @media mq-large
    font-size: .85em

.button
  background: gray
  padding: 1em
  color: white!important
  display: inline-block
  border: none
  border-radius: .25em
  text-align: center
  &:hover
    text-decoration: none!important
  &.button-bid, &.button-back
    background: color-fic
  &.button-read
    background: #555
