#topbar
  position:fixed
  left:0
  top:0
  width:100%
  height:banner-height
  z-index:99999
  text-align:center
  font-family: 'Nunito', sans-serif
  background-color:#ffffff
  border-bottom:1px solid #eeeeee
  .links
    width:450px
    position:absolute
    a
      text-decoration: none
      display:block
      height:67px
      font-size:11px
      font-weight:400
      letter-spacing:2px
      text-transform:uppercase
      line-height:70px
      color:#000000
      padding:0px 2px 0px 5px
      margin:0px 20px
      border-bottom:3px solid transparent
    a:hover
      color:#1377b0
      border-bottom:3px solid #1377b0

#sticky
  width: 220px;
  position: absolute;
  left: calc(50% - 100px);
  top: 6px;
  text-align: left;
  img
    width: 50px
    height: 50px
    border-radius: 3px
    display: block
    float: left
    margin-right: 10px
  h1
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 1px
    margin: 5px 0
    padding: 0
    line-height: 100%
    color: #b01417
    border-bottom: none
    a
      color: #b01417
      text-decoration: none
  h2
    font-size: 7px
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 1px
    margin: 0

#topbar .links-left
  left:calc(50% - 470px)


#topbar .links-left a
  float:left
  display: block


#topbar .links-right
  right:calc(50% - 470px)


#topbar .links-right a
  float:right
