@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

*
  box-sizing: border-box

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0
    
.hidden
  display: none;

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

html, body, #container
  height: 100%
  margin: 0
  

body
  background: color-background
  font: font-size font-sans
  -webkit-text-size-adjust: 100%
  padding-top: banner-height

a
  color: #b01417
  &:visited
    color: darken(#b01417,10%)

.outer
  clearfix()

.inner
  column(columns)

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

#container
  position: relative

.mobile-nav-on
  overflow: hidden
  
#main
  min-height: 65vh
  margin: 0 auto
  @media mq-tablet
    width: 480px
  @media mq-desktop
    width: 680px
  @media mq-large
    width: 920px
  

@import "_extend"
@import "_partial/header"
@import "_partial/auction"
@import "_partial/auctions"
@import "_partial/footer"
@import "_partial/mobile"
  
h1
  font-family: 'Nunito', sans-serif
  font-weight: 700
  letter-spacing: 1px
  margin: 0px 0px 10px 0px
  padding: 0px 0px 10px 0px
  line-height: 100%
  color: #b01417
  text-transform: uppercase
  border-bottom: 1px solid #eeeeee
  
.panel-wrap
  margin: block-margin 0

.panel-title
  @extend $block-caption
  
#sidebar .panel-wrap a
  display: block

.panel
  @extend $section
  h1
    font-size: 14px
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc
      
.announce
  margin:1em auto;
  text-align:center;
  font-size:1.6em;
  width: 70%;
  @media mq-mobile
    width: 100%

/*
* Buton Groups
*
* A group of related buttons
* displayed edge to edge
*/

darkenpercent = 30%

.button-group 
  *zoom: 1
  position: relative
  display: inline-block
  &:after, &:before
    content: '.'
    clear: both
    display: block
    overflow: hidden
    visibility: hidden
    font-size: 0
    line-height: 0
    width: 0
    height: 0 
  .button
    float: left
    font-size: 1em
    border-radius: .5em
    background: lighten(#008abe, 10%)
    padding: .75em 1em
    margin: .5em .25em
    &.is-checked
      background: darken(#008abe, 40%)
    // &.art
    //   background: color-art
    //   &.is-checked
    //     background: darken(color-art, darkenpercent)
    // &.graphic
    //   background: color-graphic
    //   &.is-checked
    //     background: darken(color-graphic, darkenpercent)
    // &.fic
    //   background:color-fic
    //   &.is-checked
    //     background: darken(color-fic, darkenpercent)
    // &.podfic
    //   background:color-podfic
    //   &.is-checked
    //     background: darken(color-podfic, darkenpercent)
    //  &.video
    //   background:color-video
    //   &.is-checked
    //     background: darken(color-video, darkenpercent)
    // &.fanwork
    //   background:color-fanwork
    //   &.is-checked
    //     background: darken(color-fanwork, darkenpercent)
    // &.craft
    //   background:color-craft
    //   &.is-checked
    //     background: darken(color-craft, darkenpercent)
