<%- partial('_partial/coming-soon', {post: post}) %>
<%- partial('_partial/auction-ended', {post: post}) %>
    <article class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <h5 class="breadcrumb"><%- link_to('/', 'All Auctions') %> > Auction <%- post.id %></h5>
  <div class="article-inner">
    <div class="article-entry" itemprop="articleBody">
        <h1><%- post.creatorName %>: <small class="workDesc"><%- post.workType.desc %></small></h1>
        <form id="form">
            <h2 class="currentbidHeader">Current Bid:</h2>
            <h2 class="currentbid">
                <span>(loading…)</span>
            </h2>
            <div class="formControl">
                <label for="name">Name or tumblr username*</label>
                <input id="name" name="name" type="text" required="required">
                <div class="errors"></div>
            </div>
            <div class="formControl">
                <input id="ageconfirm" name="ageconfirm" type="checkbox">
                <label for="ageconfirm">Are you 18 years of age or older?</label>
                <div class="errors"></div>
            </div>
            <div class="formControl">
                <label for="email">Your e-mail address*</label>
                <input id="email" name="email" type="email" required="required">
                <div class="errors"></div>
            </div>
            <div class="formControl">
                <label for="bid">Your bid (in USD)*</label>
                <input id="bid" class="input-bid" name="bid" type="number" required="required" step="1">
                <div class="errors"></div>
                <span>This auction's bids are in increments of $<span class="increment"></span>. The next available bid has been prefilled for you, but you can bid more if you wish.</span>
            </div>
            <div class="formControl">
                <input checked id="notify" name="notify" type="checkbox">
                <label for="notify">Notify me by e-mail when I am outbid</label>
                <div class="errors"></div>
            </div>
            <div>
                <button class="button button-bid" id="submitButton" type="submit">SUBMIT MY BID</button>
            </div>
            <small><em>* indicates required field.</em></small>
        </form>
        <hr>
        <h3>Creator's description of work:</h3>
        <%- post.content %>
        <div class="ratings">Ratings: <%= post.ratings.join(", ") %></div>
        <div class="universes">Universes: <%= post.universes.join(", ") %></div>
        <p>For more information, <a href="<%= post.tumblrUrl %>" target="_blank">visit the full tumblr post for this creator.</a></p>
    </div>
  </div>
<div class="button-back-container">
    <a class="button button-back" href="/">&laquo; Back to all the auctions</a>
</div>
</article>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<%- js('js/moment') %>
<%- js('js/moment-timezone-with-data-2012-2022') %>
<%- js('js/auction-gate') %>
<script>
window.dumE = {};
var allAuctionURL = '<%- url_for("/") %>';
var avenger = '<%= post.creatorTag %>';
var lot = '<%=post.id%>';
//PROD
dumE.API_BASE = "https://script.google.com/macros/s/AKfycbwyTOafXNd8L_4rCS-kjyGm7UrYtA63m5cy7eIKS8HUR_nJK9k/exec";

dumE.postURL = dumE.API_BASE+'?sheet=<%=post.creatorTag%>--<%=post.id%>';
</script>
<%- js('js/dum-e.js?20170521--92873') %>

