<%- partial('_partial/coming-soon', {post: false}) %>
<%- partial('_partial/auction-ended', {post: false}) %>
<section class="panel-wrap">
  <nav class="filters">
   <h1>All Auctions</h1>
    <h3>Filters</h3>
    <div class="ui-group">
      <h4>Work Type</h4>
      <div class="button-group button-group-filter" data-filter-group="workType">
        <button class="button is-checked" data-filter="">Any</button>
        <button class="button fic" data-filter=".fic">Fic</button>
        <button class="button art" data-filter=".art">Art</button>
        <button class="button graphic" data-filter=".graphic">Graphics</button>
        <button class="button fanwork" data-filter=".fanwork">Beta / Fanwork</button>
        <button class="button podfic" data-filter=".podfic">Podfic</button>
        <button class="button video" data-filter=".video">Video</button>
        <button class="button craft" data-filter=".craft">Crafts</button>
      </div>
    </div>
    <div class="ui-group">
      <h4>Universe</h4>
      <div class="button-group  button-group-filter" data-filter-group="universes">
        <button class="button is-checked" data-filter="">Any</button>
        <button class="button" data-filter=".mcu">MCU</button>
        <button class="button" data-filter=".616">616</button>
        <button class="button" data-filter=".noir">Noir</button>
        <button class="button" data-filter=".1872">1872</button>
        <button class="button" data-filter=".avengers-assemble">Avengers Assemble</button>
        <button class="button" data-filter=".earths-mightiest-heroes">EMH</button>
        <button class="button" data-filter=".avengers-academy">Av Academy</button>
        <button class="button" data-filter=".ultimates">Ultimates</button>
        <button class="button" data-filter=".marvel-adventures">Marvel Adventures</button>
        <button class="button" data-filter=".other-fandom-fusion">Other Fandom Fusion</button>
        <button class="button" data-filter=".other">Other</button>
      </div>
    </div>
    <div class="ui-group">
      <h4>Ratings</h4>
       <div class="button-group button-group-filter" data-filter-group="ratings">
          <button class="button is-checked" data-filter="">Any</button>
          <button class="button" data-filter=".g">G</button>
          <button class="button" data-filter=".teen">Teen</button>
          <button class="button" data-filter=".mature">Mature</button>
          <button class="button" data-filter=".explicit">Explicit</button>
        </div>
    </div>
    <div class="ui-group ui-group-sort">
    <h4>Sort by</h4>
      <div class="ui-sort hidden">
        <div class="button-group button-group-sort" data-sort-group="sort">
          <button class="button is-checked" data-filter="creator">Creator Name</button>
          <button class="button" data-filter="bid">Current Bid (Low to High)</button>
        </div>
      </div>
    </div>
    <div class="ui-group">
    <h4>Search</h4>
    <div class="form-control">
      <label for="type-ahead">Creator Name:</label>
      <input id="type-ahead" type="text" autocapitalize="off" autocomplete="off" spellcheck="false" autocorrect="off"/>
    </div>
    </div>
  </nav>
  <div class="all-auctions">
<% site.posts.filter(function(post){
    return post.categories.data[0].name !== 'tumblrpost';
    }).forEach(function(auction){ %>
        <div id="<%= auction.creatorTag %>--<%= auction.id %>"
        data-creator="<%= auction.creatorTag %>"
        data-bid="0"
        class="panel auction <%= auction.workType.slug %>
        <%= auction.creatorTag %>
        <%= auction.creatorTag %>--<%= auction.id %>
        <%= auction.universeTags.join(" ") %>
        <%= auction.ratings.map(function(rating){ return rating.toLowerCase() }).join(" ") %>">
          <h3 class="auctionTitle"><%= auction.creatorName %></h3>
          <h4 class="auctionType"><%= auction.workType.header_name %> Auction</h4>
          <h3 class="currentBid hidden">Current Bid: $<span></span></h3>
          <p class="auctionDesc"><%= auction.snippet %></p>
          <div class="button-container">
            <a class="button button-read" href="<%= auction.tumblrUrl %>">Read More</a><a class="button button-bid" href="<%= auction.path %>">Place bid</a>
          </div>
          <div class="ratings"><strong>Ratings:</strong> <%= auction.ratings.join(", ") %></div>
          <div class="universes"><strong>Universes:</strong> <%= auction.universes.join(", ") %></div>
        </div>
  <% }); %>
</div></div>

</section>
<script>
window.removalClass = '.panel-wrap';
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<%- js('js/moment') %>
<%- js('js/moment-timezone-with-data-2012-2022') %>
<%- js('js/auction-gate') %>
<%- js('js/isotope.pkgd.min') %>
<%- js('js/u') %>
