<h1><%= post.name %></h1>
<% if (post.link1) { %>
<p>Check out <%= post.name %>'s existing works <a target="_blank" href="<%= post.link1 %>">here</a> and <a target="_blank" href="<%= post.link2 %>">here</a>.</p>
<% } %>
<h3>Charities</h3>
<% if (post.hasCustomCharities) { %>
<ul>
    <% if (post.charityLink1) { %>
    <li>
        <a target="_blank" href="<%= post.charityLink1 %>"><%=  post.charityName1 %></a>
    </li>
    <% } %>
    <% if (post.charityLink2) { %>
    <li>
        <a target="_blank" href="<%=  post.charityLink2 %>"><%=  post.charityName2 %></a>
    </li>
    <% } %>
    <% if (post.charityLink3) { %>
    <li>
        <a target="_blank" href="<%=  post.charityLink3 %>"><%=  post.charityName3 %></a>
    </li>
    <% } %>
    <% if (post.allCharities) { %>
        <li>
        Or any of the <a target="_blank" href="https://stonytrumpshate.tumblr.com/organizations/">main STH charities</a>
    </li>
    <% } %>
</ul>
<% } else { %>
<p>Any of the <a target="_blank" href="https://stonytrumpshate.tumblr.com/organizations/">main STH charities</a></p><% } %>
<h4>Will create works that contain:</h4>
<p><%=  post.doWant %></p>
<h4>Will <strong>not</strong> create works that contain:</h4>
<p><%=  post.doNotWant %></p>

<%- post.content %>