<% if (page.categories && page.categories.data[0].name == 'tumblrpost') { %>
  <%- body %>
<% } else { %>
<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">

      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <div class="outer">
        <section id="main">
          <%- body %>
        </section>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
<% } %>