<meta charset="utf-8">
<h1><%= page.creatorName %></h1>
<% if (page.link1) { %>
<p>Check out <%= page.creatorName %>'s existing works <a target="_blank" href="<%= page.link1 %>">here</a><% if (page.link2) { %> and <a target="_blank" href="<%= page.link2 %>">here</a>.<% } %></p>
<% } %>

<h3>Charities</h3>
<% if (page.hasCustomCharities) { %>
<ul>
    <% if (page.charityLink1) { %>
    <li>
        <a target="_blank" href="<%= page.charityLink1 %>"><%=  page.charityName1 %></a>
    </li>
    <% } %>
    <% if (page.charityLink2) { %>
    <li>
        <a target="_blank" href="<%=  page.charityLink2 %>"><%=  page.charityName2 %></a>
    </li>
    <% } %>
    <% if (page.charityLink3) { %>
    <li>
        <a target="_blank" href="<%=  page.charityLink3 %>"><%=  page.charityName3 %></a>
    </li>
    <% } %>
    <% if (page.allCharities) { %>
        <li>
        Or any of the <a target="_blank" href="https://stonytrumpshate.tumblr.com/organizations/">main STH charities</a>
    </li>
    <% } %>
</ul>
<% } else { %>
<p>Any of the <a target="_blank" href="https://stonytrumpshate.tumblr.com/organizations/">main STH charities</a></p><% } %>
<h4>Will create works that contain:</h4>
<ul><li><%=  page.doWant %></li></ul>
<h4>Will <strong>not</strong> create works that contain:</h4>
<ul><li><%=  page.doNotWant %></li></ul>

<%- page.content %>
